/* made by Ratoncyt0 */
.raty-div-center {
  flex-direction: column;
  display: flex;
  align-items: center;
  min-height: 100vh;
  max-height: none;
  height: auto;
  justify-content: center;
}

/* a */

/* b */